.rn {
  font-size: 30px;
}

.theNumberTxt {
  font-size: 30px;
}
.message {
  color: rgb(88, 148, 9);
  font-size: 30px;
}

.text {
  padding: 10px 50px;
  border: 1px solid;
  color: darkred;
  border-radius: 4px;
  font-size: 20px;
}
.chancesLeft {
  font-size: 25px;
  border: 1px solid;
  padding: 7px;
  color: darkred;
  border-radius: 4px;
}
.btnReset {
  background-color: white;
  border: 0px;
  padding: 7px;
  border-radius: 1%;
}
.btn {
  padding: 5px 10px;
  box-shadow: 1px 2px grey;
}
.btn:hover {
  padding: 5px 10px;
  box-shadow: 1px 2px grey;
}
.guess {
  padding: 5px 20px;
  font-size: 13px;
}
.whole {
  background-color: papayawhip;
  box-shadow: 2px 8px rgb(168, 167, 167);
}
