.rn {
  font-size: 30px;
}

.theNumberTxt {
  font-size: 30px;
}
.message {
  color: rgb(88, 148, 9);
  font-size: 30px;
}
.btn {
  padding: 4px 50px;
}
.text {
  padding: 4px 50px;
}
.chancesLeft {
  font-size: 25px;
}
